h1 {
    text-align: center;
    color: Green;
    font-size: 60px;
    margin-bottom: 0px
}
body{
  background-color: black;
}
div {
    width: 400px;
    height: 400px;
    margin: 100px auto;
    background-image: url(https://s22.postimg.io/7tuhb0e75/Screen_Shot_2016_09_10_at_21_50_07.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    margin-top: -2px
}
p {
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
    position: relative;
    left: 18px;
    top: 15px;
    cursor: pointer
}
p:hover {
    background-color:cornsilk
}
.x {
    background-image: url(http://www.clker.com/cliparts/e/0/f/4/12428125621652493290X_mark_18x18_02.svg.med.png);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center
}
.o {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/53/Opera_O.png);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center
}
button {
    position: relative;
    left: 46%;
    font-size: 100%
}
